.card {
	@apply relative mb-8 grid grid-cols-3 bg-light-gray p-10;
	border-radius: 2rem;

	.information {
		@apply mr-10;
		> h2 {
			@apply mb-3 text-2xl font-bold leading-8 text-dark-green;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		> p {
			@apply mb-6 mt-3 text-beige;
		}

		> button {
			@apply mr-4 rounded-2xl bg-white transition-colors duration-200 ease-in-out last:mr-0;

			&.active {
				@apply bg-green;
			}
		}
	}

	.variations {
		@apply ml-10;

		.rating {
			@apply flex items-center;
			> span {
				@apply mr-5 text-sm font-bold;
			}
		}

		.buttonMedium {
			@apply text-center;
		}
	}

	.image {
		@apply mb-10 text-center;

		> .wrapper {
			img {
				@apply mx-auto w-full rounded-full bg-white p-10;
				box-shadow: 0px 5px 100px -50px #006044;
			}
		}
		> .price {
			@apply -mt-16 text-center text-3xl font-bold text-dark-green;
		}
	}

	.price {
	}
}
